<div style="background-image: url('<%= @get_image %>'); background-size: cover; height: 100vh;">


  <h1 style="color: white; border: 2px solid white; text-align:center">
    Stellar Excursions
  </h1>
 <table style="width: 100%; " border="1">
      <tr>
        <td>
          <a href="/mars" style="text-decoration:none; color:white;">Mars</a>
        </td>

        <td>
          <a href="/jupiter" style="text-decoration:none; color:white;">Jupiter</a>
        </td>

        <td>
          <a href="/saturn"style="text-decoration:none; color:white;">Saturn</a>
        </td>

      </tr>
    </table>

    <p class="home_ad">
    Stellar Excursions offers unforgettable journeys to the stars, providing space enthusiasts with the chance to experience the wonders of the cosmos firsthand. From orbital tours around Earth to exciting trips to the Moon and beyond, StellarEx makes space travel accessible for all. With cutting-edge technology, expert crews, and a focus on safety, our agency ensures an adventure that’s truly out of this world. Whether you're looking to explore distant planets or float in zero gravity, StellarEx promises a space experience like no other.
    </p>
<h9 style="color:white; position: absolute; bottom: 0; width: 80%; text-align: center;"><%= @info_image %></h3>

</div>
