<div style="background-image:url('/stars.jpg'); background-size: cover; height: 100vh;">
  <h1 style="color: white; border: 2px solid white; text-align:center"> Jupiter </h1>
    <div class="container">
      <img src="/jupiter.jpg" alt="Planet image"  class="image">
        <div class="text-content">
          <h2 style="color: white;"> Planet Information </h2>

            <p class="info">Temperature: -110°C</p>
            <p class="info">Season: No seasons</p>
            <div class="fact">
              <p class="info">fun fact: Jupiter is the largest planet in our solar system! </p>
              <p class="info">It's so massive that all the other planets in the solar system could fit inside it, with room to spare.</p>
              <p class="info"> Jupiter has a diameter of about 88,846 miles (142,984 kilometers), which is 11 times wider than Earth. </p>
              <p class="info">It’s also famous for its Great Red Spot, a giant storm that has been raging for at least 400 years!</p>
            <div>
        </div>
    </div>
    <a href="/" class="back">Home</a>
</div>
