<div style="background-image:url('/stars.jpg'); background-size: cover; height: 100vh;">
  <h1 style="color: white; border: 2px solid white; text-align:center"> Saturn </h1>
    <div class="container">
      <img src="/saturn.jpg" alt="Planet image"  class="image">
        <div class="text-content">
          <h2 style="color: white;"> Planet Information </h2>

            <p class="info">Temperature: 57°C</p>
            <p class="info">Season: Summer</p>
            <div class="fact">
              <p class="info">fun fact: Saturn is the second-largest planet in our solar system and is most famous for its stunning rings!</p> 
              <p class="info">These rings are made of ice, dust, and rocky debris, and they stretch out over 175,000 miles (282,000 kilometers).</p>
              <p class="info"> but are only about 30 feet (10 meters) thick. Saturn has at least 82 moons, with Titan being the largest, even bigger than the planet Mercury! </p>
            <div>
        </div>
    </div>
    <a href="/" class="back">Home</a>
</div>
Saturn is the second-largest planet in our solar system and is most famous for its stunning rings! These rings are made of ice, dust, and rocky debris, and they stretch out over 175,000 miles (282,000 kilometers) but are only about 30 feet (10 meters) thick. Saturn has at least 82 moons, with Titan being the largest, even bigger than the planet Mercury!
