<div style="background-image:url('/stars.jpg'); background-size: cover; height: 100vh;">
  <h1 style="color: white; border: 2px solid white; text-align:center"> Saturn </h1>
    <div class="container">
      <img src="/saturn.jpg" alt="Planet image"  class="image">
        <div class="text-content">
          <h2 style="color: white;"> Planet Information </h2>

            <p class="info">Temperature: 57°C</p>
            <p class="info">Season: Summer</p>
            <div class="fact">
              <p class="info">fun fact: Mars has the tallest volcano in the solar system, Olympus Mons! 
              <p class="info">It stands about 13.6 miles (22 kilometers) high, which is nearly three times the height of Mount Everest, Earth's highest mountain.</p>
             <p class="info"> Olympus Mons is also incredibly wide, with a diameter of about 370 miles (600 kilometers), </p>
             <p class="info">making it large enough to cover the entire state of New Mexico!</p>
            <div>
        </div>
    </div>
    <a href="/" class="back">Home</a>
</div>
